@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 33% 91%;
    --foreground: 16 26% 24%;
    --card: 60 33% 91%;
    --card-foreground: 16 26% 24%;
    --popover: 60 33% 91%;
    --popover-foreground: 16 26% 24%;
    --primary: 37 29% 52%;
    --primary-foreground: 15 25% 95%;
    --secondary: 60 33% 85%;
    --secondary-foreground: 16 26% 24%;
    --muted: 60 33% 85%;
    --muted-foreground: 16 26% 40%;
    --accent: 37 29% 57%;
    --accent-foreground: 16 26% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 60 33% 85%;
    --input: 60 33% 85%;
    --ring: 37 29% 52%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 16 26% 18%;
    --foreground: 60 33% 91%;
    --card: 16 26% 18%;
    --card-foreground: 60 33% 91%;
    --popover: 16 26% 18%;
    --popover-foreground: 60 33% 91%;
    --primary: 37 29% 52%;
    --primary-foreground: 16 26% 10%;
    --secondary: 16 26% 24%;
    --secondary-foreground: 60 33% 91%;
    --muted: 16 26% 24%;
    --muted-foreground: 60 33% 80%;
    --accent: 37 29% 47%;
    --accent-foreground: 60 33% 96%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 16 26% 24%;
    --input: 16 26% 24%;
    --ring: 37 29% 52%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
